.hero {
  width:95%;
}

 h1 {
    color: aliceblue;
    padding-top: 10px;
    font-size: 30px;
 }

h2 {
  color: darkblue;
}

p, li{
  font-size: 18px;
 }

.navbar-brand {
  font-size: 30px;
 }

.navbar-nav {
  font-size: 18px;
  padding-bottom: 5px;
  
}

Footer {
  background-color: aliceblue;
  max-width: 100%;
  min-height: 100px;
  margin-top: 20px;
  padding-top: 40px;
}




