

nav {
  padding: 10px 10px;
}

 h1 {
    color: aliceblue;
    padding-top: 10px;
    font-size: 30px;
 }
 p, li{
  font-size: 24px;
 }

 .navbar-brand {
  font-size: 30px;
 }

.hero {
  width:95%;
}



